<nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="font-family:Edwardian Script ITC; font-size:40px">Big Deal</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
      <ul class="navbar-nav" style="float:right; margin-right:20px">
        <li class="nav-item">
          <input type="text" placeholder="Search.." style="margin-top:10px" >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cart">Cart<input type="text" id="num" value="0" disabled="" class="cartQty" style="background-color: white; width: 40px; border: none; color:black; margin-left:5px; text-align: center; border-radius:4px"></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Account</a>
          <ul class="dropdown-menu" >
            <li><a class="dropdown-item" href="/createUser">Create</a></li>
            <li><a class="dropdown-item" href="/retrieveUsers">Retrieve</a></li>
            <li><a class="dropdown-item" href="/loginUser">Login</a></li>
          </ul>
        </li>
      </ul>
  </div>
</nav>
<!--
<script type="text/javascript">
  document.querySelector('.cartQty').value = parseInt(localStorage.getItem('cartNum'))+parseInt(localStorage.getItem('cartNum2'))+parseInt(localStorage.getItem('cartNum3'));
</script>-->
