{% extends "base.html" %}
{% block title %}Payment{% endblock %}
{% block content %}
<!--
  <h2>Payment</h2>
  <form action="" method="post">
    <div>
      <label for="card_number">Card Number:</label>
      <input type="text" name="card_number" id="card_number">
    </div>
    <div>
      <label for="card_holder">Card Holder Name:</label>
      <input type="text" name="card_holder" id="card_holder">
    </div>
    <div>
      <label for="expiry_date">Expiry Date:</label>
      <input type="text" name="expiry_date" id="expiry_date">
    </div>
    <div>
      <label for="cvv">CVV:</label>
      <input type="text" name="cvv" id="cvv">
    </div>
    <input type="submit" value="Pay">
  </form>-->
<div style="display:flex; margin:20px 30px; padding:25px">
    <div>
        <h1>Thank you for your purchase!</h1>
        <h5>Your order is on its way <br>
            Estimated time of arrival: 30 minutes</h5>
        <img src="{{ url_for('static',filename='ho.png') }}" style="height:220px; width:392px"> <br>
        <a href="/menu" class="btn btn-dark" style="margin-top:10px">Back to Menu</a>
    </div>
    <table class="table table-striped" style="width:500px; border:3px solid black">
        <thead>
            <tr>
                  <th colspan="4" style="text-align:center">Receipt</th>
            </tr>
        </thead>
        <tbody>
          <tr>
              <td><img src="{{ url_for('static',filename='ess.png') }}" class="msf-img" style="height:70px; width:70px"></td>
              <td>Rose Custard</td>
              {% for cart in carts_list %}
                  <td>{{ cart.get_cart_id() }}</td>
                  <td>$ {{ cart.get_cart_id() * cart.get_esp() }}</td>
              {% endfor %}
          </tr>
          <tr>
              <td><img src="{{ url_for('static',filename='sd.png') }}" class="msf-img" style="height:70px; width:70px"></td>
              <td>Almond Tofu</td>
              {% for cbrt in cbrts_list %}
                  <td>{{ cbrt.get_cbrt_id() }}</td>
                  <td>$ {{ cbrt.get_cbrt_id() * cbrt.get_sdp() }} </td>
              {% endfor %}
          </tr>
          <tr>
              <td><img src="{{ url_for('static',filename='qe.png') }}" class="msf-img" style="height:70px; width:70px"></td>
              <td>Sakura Tempura</td>
              {% for ccrt in ccrts_list %}
                  <td>{{ ccrt.get_ccrt_id() }}</td>
                  <td>$ {{ ccrt.get_ccrt_id() * ccrt.get_qep() }} </td>
              {% endfor %}
          </tr>
          <tr>
              <td><img src="{{ url_for('static',filename='fff.png') }}" class="msf-img" style="height:70px; width:70px"></td>
              <td>Stir-Fried Fillet</td>
              {% for cdrt in cdrts_list %}
                  <td>{{ cdrt.get_cdrt_id() }}</td>
                  <td>$ {{ cdrt.get_cdrt_id() * cdrt.get_bdp() }} </td>
              {% endfor %}
          </tr>
            <tr><td colspan="2" style="font-weight:bold">Subtotal: </td>
                {% for subtotal in subtotal_list %}
                    <td colspan="2">$ {{ subtotal }} </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
